* {
	padding: 0px;
	margin: 0px;
	user-select: none;
}

@font-face {
	font-family: Honk;
	src: url(assets/static/Honk-Regular.ttf);
}

body {
	background-color: #F2F2F2;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-family: Honk;
	color: royalblue;
	font-size: 80px;
}

.buttons-container {
	display: flex;
	gap: 10px;
}

.weapon-button {
	background: linear-gradient(180deg, rgba(255, 253, 120, 1) 18%, rgba(255, 119, 161, 1) 99%);
	width: 180px;
	height: 80px;
	border-radius: 8px;
	border: 3px solid black;
}
