* {
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: Honk;
	src: url(assets/static/Honk-Regular.ttf);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-family: Honk;
	color: royalblue;
	font-size: 80px;
}
