* {
	padding: 0px;
	margin: 0px;
	user-select: none;
}

@font-face {
	font-family: Honk;
	src: url(assets/static/Honk-Regular.ttf);
}

@font-face {
	font-family: Jaro;
	src: url(assets/Jaro-Regular.ttf);
}

body {
	background-color: #F2F2F2;

}

video {
	position: fixed;
	z-index: -1;
	width: auto;
	height: 100%;
	top: 0;
	left: -10%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-family: Honk;
	color: royalblue;
	font-size: 80px;
}

.buttons-container {
	display: flex;
	gap: 10px;
	width: 50%;
	margin: auto;
	margin-top: 70px;
	justify-content: center;
}

.weapon-button {
	background: linear-gradient(180deg, rgba(255, 253, 120, 1) 18%, rgba(255, 119, 161, 1) 99%);
	width: 180px;
	height: 80px;
	border-radius: 8px;
	font-family: Honk;
	border: 0;
	font-size: 36px;
}

.results {
	display: flex;
	justify-content: center;
	margin-top: 90px;
}

#results-para {
	font-family: Jaro;
	font-size: 82px;
}
